

.footer {
  background-color: #6F6565;
  height: 264px;
  position: relative;
  &-logo {
    max-width: 501px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    p {
      @include Mon($colorWhite,80px,700);
    }
  }
}

@media screen and (max-width:480px) {
  .footer {
      background-color: #6F6565;
      height: 182px;
      position: relative;
      &-logo {
        max-width: 251px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        p {
          @include Mon($colorWhite,40px,700);
        }
      }
    }
}